{% extends "base.html" %}

{% block content %}

    <!-- START ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>About Research Monitor</h2>
                        <p class="text-muted mx-auto mt-2">Computer science research has become both impactful and fast-paced.
			These days, more papers are written than any sane person would ever be able to read.</p>
                        <p class="text-muted mx-auto mt-2">Luckily, there is Research Monitor!
			Think of it as an automated friend who skims through all these papers
			(or at least their titles and abstracts) for you,
			sacrificing its own sanity for helping you to keep track and understand what's important.</p>

                        <h3>Contribute</h3>
                        <p class="text-muted mx-auto mt-2">Research Monitor is an ongoing project.
			If it resonates with you and you are interested in contributing or supporting the project otherwise,
			please don't hesitate to contact us!
			(For example, reach out via <a href="https://www.linkedin.com/in/philipp-blandfort-295163b9/" target="_blank">LinkedIn</a>.)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END ABOUT -->
{% endblock %}
