<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Philipp Blandfort">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Research Monitor</title>
    {% endif %}

    <!-- Custom fonts for this theme 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS
    <link href="style/custom.css" type="text/css"> -->
    <style>
    .concept-list .badge{
        text-align: right;
    }

    .concept-list .card {
        padding: 0.1em 0.5em;
    }

    .paper-list .card {
        padding: 0.1em 0.5em;
    }

    section {
        padding: 1em 0em 2em 0em;
    }

    .page-footer a {
        text-decoration: none;
	font-size: 1.0rem;
    }
    </style>

	<!-- Plotting -->
    <!--<script src="javascript/plotly-latest.min.js"></script>-->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <body style="padding-top:4em;">
        <!-- START NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
				<a class="navbar-brand font-weight-bold" href="/index">Research Monitor</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/index" class="nav-link">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a href="/glossary" class="nav-link">Glossary</a>
                        </li>
                        <li class="nav-item">
                            <div class="search-container">
                                <form action="/search">
                                    <input type="text" placeholder="Check trend for query..." name="query">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

		<!-- Footer -->
		<footer class="page-footer font-small pt-4 pb-3 bg-dark">

		  <!-- Footer Links -->
		  <div class="container text-center">

			<!-- Grid row -->
			<div class="row">

			  <!-- Grid column -->
			  <div class="col-md-4 mb-md-0 mb-3">

				<h5>
					<a href="/about" class="text-light">About</a>
				</h5>

			  </div>
			  <!-- Grid column -->

			  <!-- Grid column -->
			  <div class="col-md-4 mb-md-0 mb-3">

				<!-- Links -->
				<h5>
					<a href="/legal" target="_blank" class="text-light">Legal Notice (Impressum)</a>
				</h5>

			  </div>
			  <!-- Grid column -->

			  <!-- Grid column -->
			  <div class="col-md-4 mb-md-0 mb-3">

				<h5>
					<a href="/privacy" target="_blank" class="text-light">Privacy Policy</a>
				</h5>

			  </div>
			  <!-- Grid column -->

			</div>
			<!-- Grid row -->

		  </div>
		  <!-- Footer Links -->

		</footer>
		<!-- Footer -->
    </body>
</html>
