{% extends "base.html" %}

{% block content %}
    <!-- START USAGE -->    
    <section id="usage" class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h1>{{ concept['acronym'] }}</h1>
                        {% if concept['definitions'] %}
                        <p class="text-muted mx-auto mt-2">Definitions (most to least common):</p>
                        <ul class="list-group">
                            <li class="font-weight-bold">{{ concept['definitions'][0] }}</li>
                            {% for usage in concept['definitions'][1:] %}
                            <li class="text-muted">{{ usage }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END USAGE -->

    {% if papers %}
    <!-- START TREND -->
    <section id="trend">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>Trend</h2>
                        {% if concept['trendiness'] %}
                            <p class="mx-auto mt-2">Score: {{ concept['trendiness'] }}</p>
                        {% endif %}

                        {% if concept['occurrence_count'] %}
                            <p class="mx-auto mt-2">Total number of occurrences: {{ concept['occurrence_count'] }}</p>
                        {% endif %}
                        <div id="{{ plot_divid }}"></div>
                        {% autoescape false %}
                        {{ plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TREND -->

    <!-- START PAPERS -->    
    <section id="papers" class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>Relevant Papers</h2>
                        <div class="list-unstyled paper-list">
                            {% for paper in papers %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ paper['title'] }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ ', '.join(paper['authors']) }} (published on {{ paper['published'] }})</h6>
                                    <p class="card-text">{{ paper['abstract'] }}</p>
                                    <a href="{{ paper['source'] }}" target="_blank" class="card-link">View on arXiv</a>
                                    <a href="{{ paper['source'].replace('/abs/', '/pdf/') }}" target="_blank" class="card-link">Download</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PAPERS -->
    {% else %}
    <!-- START NOTHING -->
    <section id="papers">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <p class="mx-auto font-italic mt-2">No occurrences found for the requested term.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END NOTHING -->
    {% endif %}

{% endblock %}
