{% extends "base.html" %}

{% block content %}
    <!-- START GLOSSARY -->    
    <section class="section" id="glossary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h1>Automatic Glossary</h1>
                        <nav aria-label="Glossary pages">
                            Starting letter: <ul class="pagination justify-content-center">
                            {% for p in lower_pages %}
                            <li class="page-item"><a class="page-link" href="glossary?startswith={{ p }}">{{ p }}</a></li>
                            {% endfor %}
                            <li class="page-item disabled"><span class="page-link">{{ page }}</span></li>
                            {% for p in higher_pages %}
                            <li class="page-item"><a class="page-link" href="glossary?startswith={{ p }}">{{ p }}</a></li>
                            {% endfor %}
                            </ul>
                        </nav>
                        <div class="list-unstyled concept-list">
                            {% for gloss in glossary %}
                            <div class="card">
                                <p class="text-dark"><a href="/concept?name={{ gloss.acronym}}">{{ gloss.acronym }}: {{ gloss.definition }}</a></p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END GLOSSARY -->
{% endblock %}
