{% extends "base.html" %}

{% block content %}
    <!-- START TRENDS -->
    <section id="trends">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>Trending Concepts</h2>
                        <!--<p class="text-muted mx-auto mt-2 mb-0">Considering publications of the last 8 weeks, we see the following trends:</p>-->
                    </div>
                </div>
            </div>
			<div class="row mt-2">
                <div class="col-md-6">
                    <div class="text-center mx-auto">
                        <h3>Most Trending</h3>
                    </div>
                    <div class="list-unstyled concept-list">
                    {% for concept in most_trending %}
                        <div class="card">
                            <a href="/search?query={{ concept.url }}">{{ concept.name }}</a>
                            <span class="badge">{{ concept.score }}</span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center mx-auto">
                        <h3>Least Trending</h3>
                    </div>
                    <div class="list-unstyled concept-list">
                    {% for concept in least_trending %}
                        <div class="card">
                            <a href="/search?query={{ concept.url }}">{{ concept.name }}</a>
                            <span class="badge">{{ concept.score }}</span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TRENDS -->

    <!-- START POPULAR TERMS -->    
    <section id="popular">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>Most Popular Concepts</h2>
                        <!--<p><a href="/glossary?order=occurrence_count">Show the full glossary ordered by occurrence counts.</a></p>-->
                        <div class="list-unstyled card-columns concept-list">
                            {% for concept in popular_concepts %}
                            <div class="card">
                                <a href="/search?query={{ concept.url }}">{{ concept.name }}</a>
                                <span class="badge">{{ concept.occurrence_count }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center mx-auto mt-2">
                        <p>Last updated: {{ last_updated }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END POPULAR TERMS -->
{% endblock %}
