{% extends "base.html" %}

{% block content %}
    <!-- START ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>Legal Notice (Impressum)</h2>
                        <p>This website is managed by:</p>

                        <address>
                        Dude Dudeson<br />
                        Fancy Street 1<br />
                        12345 City<br />
                        Germany<br />
                        Phone: +49 123 456 789<br />
                        E-Mail: bla@bla.bla<br />
                        </address>

                        <p class="text-muted mx-auto mt-2">
                        Umsatzsteuer-Identifikationsnummer gem. § 27a UStG: DE XXXXXXX
                        </p>

                        <p class="text-muted mx-auto mt-2">
                        Inhaltlich Verantwortlicher gem. § 55 II RStV: Dude Dudeson (Anschrift s.o.)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
