{% extends "base.html" %}

{% block content %}
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mx-auto">
                        <h2>Privacy Policy</h2>
                        <p>We regret to inform you that we do not store your personal data.</p>
                        <p>This is because we have enough data of our own and prefer to not waste our time digging into your ordinary digital footprints.</p>
                        <p>In fact, your data is trash to us, so please don't mistake your garbage for anything special and take it somewhere else.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
